<section class="mainContent">
    <article class="editingSection">
        <h2>Edit</h2>
        <form>
            <label for="title">Title:
                <input type="text" id="headline">
            </label>
            <label for="tagline">Tagline:
                <input type="text" id="tagline">
            </label>
            <label for="content">Article Content
                <input type="text" id="content">
            </label>
            <select name="pillars" id="pillars">
                <option value="news">News</option>
                <option value="sports">Sports</option>
                <option value="culture">Culture</option>
                <option value="opinion">Opinion</option>
            </select>
        </form>
    </article>
</section>