* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
body {
    display: grid;
    grid-template-rows: 200px 1fr;
    max-height: 100vh;
}
main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    padding: 10px;
    height: 200px;
}
.logoContainer {
    display: grid;
    place-content: center;
}
#newsLogo {
    width: 100px;
}
.editorialBoard {
    background-color: #1B98E0;
}
.editorialBoard .title{
    display:grid;
    place-items:center;
    color: #E8F1F2;
    padding:7px;
}
.edit-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-gap: 10px;
    padding: 10px;

    font-size:12px;
}

.edit-tile h3{
    padding:5px;
}
.editorialBoard h3 {
    background-color: #E8F1F2;
    border: rgb(73, 73, 73) 1px solid;
    border-radius: 10px;

    box-shadow: 0px 5px 0.5rem 0.2rem rgba(0, 0, 0, 0.486);

    width:170px;
    height:100px;
}

.editorialBoard .edit-tile-btn{
    position:relative;
    bottom:23px;
    left:5px;
}

.editorialBoard .delete-tile-btn{
    position:relative;
    bottom:23px;
    left:75px;
}

.editContainer{
    display:grid;
    gap:10px;
}

.titleInput{
    height:30px;
}

.textInput{
    height:500px;
}

.publishArticleBtn{
    position:relative;
    width: 50px;
    left:1050px;
}

.deleteArticleBtn{
    position:relative;
    width:50px;
    left:1050px;
    bottom:500px;
}



.logoSection {
    display: grid;
    place-content: center;
    background-color: #E8F1F2;
    padding: 10px;
}
.filterFeed {
    width: 230px;
    background-color: #006494;
    padding: 10px;
    color: #E8F1F2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.smallLine {
    width: 20%;

}
section.filterFeed > * {
    padding: 5px 0;
    
}

.filterFeed h3{
    font-size: 12px;
}

.mainContent {
    background-color: #E8F1F2;
    padding: 10px;
    height:500px
}
.feedContainer > * {
    padding: 20px 0;
}
.feedContainer {
    display: grid;
    color: rgb(53, 53, 53);
    height: 100%;
    overflow-y:scroll
}
.feedContainer h3 {
    font-size: small;
    color: rgb(82, 82, 82);
    padding-top: 10px;
    padding-bottom: 10px;
  
}

.mainContent .article {
    display: grid;
    grid-template-columns: 1fr auto;
}
.articleURL {
    display: grid;
    place-items: center;
}

.articleURL button {
    border: 1px solid black;
    width: 80px;
    padding: 5px;
}

.article{
    border-bottom:1px solid black;
}

.backBtn{
    padding:5px;
}

.editingSection form {
   display: grid;
}
.filterFeed form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search-btn{
    height:15px;
}

label {
display: block;
}
