* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body {
    height: 100vh;
    grid-template-rows: 150px 600px;
}
main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    padding: 10px;
}
.editorialBoard {
    background-color: #1B98E0;
}
.editorialBoard .title{
    display:grid;
    place-items:center;
}
.edit-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-gap: 10px;
    padding: 10px;

    font-size:12px;
}

.edit-tile h3{
    padding:5px;
}
.editorialBoard h3 {
    background-color: #E8F1F2;
    border: black 1px solid;

    width:170px;
    height:100px;
}

.editorialBoard .edit-tile-btn{
    position:relative;
    bottom:23px;
    left:5px;
}

.editorialBoard .delete-tile-btn{
    position:relative;
    bottom:23px;
    left:75px;
}

.editContainer{
    display:grid;
    gap:10px;
    }
    
    .titleInput{
        height:30px;
    }
    
    .textInput{
        height:500px;
    }
    
    .publishArticleBtn{
        position:relative;
        width: 50px;
        left:890px;
    }
    
    .deleteArticleBtn{
        position:relative;
        width:50px;
        left:200px;
        top:100px;
    }



.logoSection {
    display: grid;
    place-content: center;
    background-color: #E8F1F2;
    padding: 10px;
}
.filterFeed {
    width: 300px;
    background-color: #006494;
    padding: 10px;
}
.mainContent {
    background-color: #E8F1F2;
    padding: 10px;

    overflow-y: scroll;
    
}
.feedContainer {
    display: grid;
}
.mainContent .article {
    display: grid;
    grid-template-columns: 1fr auto;
}
.articleURL {
    display: grid;
    place-items: center;
}

.articleURL button {
    border: 1px solid black;
    width: 80px;
    padding: 5px;
}

.editingSection form {
   display: grid;
}
.filterFeed form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
label {
display: block;
}
